---
import { formatBlogPosts, slugify } from "../scripts/utils";

const getBlogPosts = await Astro.glob("../pages/blog/*.md");
const formattedPosts = formatBlogPosts(getBlogPosts);
const allCategories = formattedPosts
  .map((post) => post.frontmatter.category.toLowerCase())
  .flat();

const processedCategories = allCategories.reduce((acc, category) => {
  const value = acc[category] || 0;
  return {
    ...acc,
    [category]: value + 1,
  };
}, {});

const { showCount } = Astro.props;
---

<ul class="categories">
  {
    Object.entries(processedCategories).map(([key, value]) => (
      <li>
        <a class="badge" href={`/category/${slugify(key)}/`}>
          {key} {showCount && `(${value})`}
        </a>
      </li>
    ))
  }
</ul>
