---
---

<footer>
  <small>
    Copyright &copy; <span id="copyright"></span> | All right reserved.
  </small>
</footer>

<script>
  const copyrightSpan = document.getElementById("copyright");
  const currentYear = new Date().getFullYear().toString();
  copyrightSpan.textContent = currentYear;
</script>
