---
import { Icon } from "astro-icon";
---

<footer>
  <div>
    <small>
      Copyright &copy; <span id="copyright"></span> | All right reserved.
    </small>
    <small>
      <a href="/rss.xml">
        Subscribe to RSS
        <Icon name="tabler:rss" width="20" height="20" />
      </a>
    </small>
  </div>
</footer>

<script>
  const copyrightSpan = document.getElementById("copyright");
  const currentYear = new Date().getFullYear().toString();
  copyrightSpan.textContent = currentYear;
</script>
